<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div style="position: absolute;z-index: 2;left: 20px;">
    <img src="/static/img/toppeople.png" style="margin-top: -130%;margin-left: 75%;">
    <div style="width: 2px;height: 300px;background-color:white;position: absolute;margin-left: 120%;margin-top: 64%"></div>
  </div>
  <div style="position: absolute;z-index: 2;right: 20px;">
    <img src="/static/img/topwenzi.png" style="width: 72%;margin-top: 20%;">
  </div>
  <div class="top" style="border-radius: 0 0 50% 50% / 0 0 50px 50px;">
    <img src="/static/img/DSC06650.jpg">
  </div>
  <div style="display:inline-block;margin-left: 39%;margin-top: 10px;">
    <div class="line"></div>
    <div style="display:inline-block;width: 25px;padding: 20px;"><div class="select" onclick="test(this,0)"><span>首页</span></div></div>
    <div class="line"></div>
    <div style="display:inline-block;"><img src="/static/img/logo.png" style="width: 70px;padding:0 20px;"></div>
    <div class="line"></div>
    <div style="display:inline-block;width: 25px;padding: 20px;"><div class="none" onclick="test(this,1)"><span>新闻</span></div></div>
    <div class="line" style="display:inline-block;"></div>
  </div>
  <div style="width: 80%;height: 1px;background-color: #cccccc;margin-left: 10%"></div>
  <div class="main" style="display: block;">
    <div class="top">
      <div style="position: absolute;z-index: 2;text-align: center;margin-top: -10%">
        <div>产品介绍</div>
        <div style="margin-top: 20px;font-size: 25px;">私处抑味·抑菌·保护</div>
      </div>
      <img src="/static/img/1.JPG" style="width: 85%;margin: 20px 0;">
    </div>
    <div style="display:flex;align-items:center;overflow: hidden;padding: 0 10%;margin-top: 20px;height: 360px;">
      <img src="/static/img/2.png" style="width: 400px;height: 360px;">
      <div style="margin-left: 40px;flex-direction:column;justify-content: space-between;width: 100%;">
        <div style="font-size: 35px;font-weight: 600;">鹿口润滑液·</div>
        <div style="font-size: 35px;margin-top: 20px;font-weight: 600;">抑味抑菌保护</div>
        <div style="margin-top: 20px;font-size: 20px;">真正安心，<span style="font-size: 15px;">消字号备案</span></div>
        <div style="font-size: 10px;margin-top: 10px;">*聚可安糖私户抑菌液，获得卫计委备案</div>
        <div style="margin-top: 10px;font-size: 20px;">真正安心，<span style="font-size: 15px;">消字号备案</span></div>
        <div style="font-size: 10px;margin-top: 10px;">*聚可安糖私户抑菌液，获得卫计委备案</div>
        <div style="margin-top: 10px;font-size: 20px;">真正安心，<span style="font-size: 15px;">消字号备案</span></div>
        <div style="font-size: 10px;margin-top: 10px;">*聚可安糖私户抑菌液，获得卫计委备案</div>
        <div style="margin-top: 30px;"><button>了解详情</button></div>
      </div>
      <div style="flex-direction: column;justify-content:flex-start;height: 100%;">
        <img src="/static/img/01.png" style="width: 60px;height: 60px;">
      </div>
      <!--<div style="font-size: 30px;font-weight: 600;">01</div>-->
    </div>
    <div style="display:flex;align-items:center;overflow: hidden;padding: 0 10%;margin-top: 20px;height: 360px;justify-content:space-between;">
      <div style="margin-top: auto;">
        <img src="/static/img/02.png" style="width: 60px;height: 60px;">
      </div>
      <div style="text-align: right;display:flex;flex-direction:column;justify-content: space-between;width: 60%;height: 360px;">
        <div style="font-size: 35px;font-weight: 600;">鹿口安全套·极薄系列</div>
        <div style="margin-top: 10px;font-size: 20px;">薄过0.03</div>
        <div style="font-size: 20px;">快感与健康并存</div>
        <div style="font-size: 10px;margin-top: 20px;">*鹿口安全套皆具有抑味抑菌保护功能的润滑液</div>
        <div style="margin-top: 170px;"><button>了解详情</button></div>
      </div>
      <img src="/static/img/2.png" style="width: 400px;height: 360px;margin-left: 15px;">
      <!--<div style="font-size: 30px;font-weight: 600;">02</div>-->
    </div>
    <div style="display:flex;align-items:center;overflow: hidden;padding: 0 10%;margin-top: 20px;height: 360px">
      <img src="/static/img/2.png" style="width: 400px;height: 360px;">
      <div style="margin-left: 40px;flex-direction:column;justify-content: space-between;width: 100%;">
        <div style="font-size: 35px;font-weight: 600;">鹿口安全套·</div>
        <div style="font-size: 35px;margin-top: 20px;font-weight: 600;">倍润滑系列</div>
        <div style="margin-top: 20px;font-size: 20px;">1200mg大量润滑，比平均多50%润滑液</div>
        <div style="font-size: 10px;margin-top: 10px;">*让2/3体液偏少的亚洲女性，不再忍一忍</div>
        <div style="font-size: 10px;margin-top: 10px;">*鹿口安全套皆具有抑味抑菌保护功能的润滑液</div>
        <div style="margin-top: 120px;"><button>了解详情</button></div>
      </div>
      <div style="flex-direction: column;justify-content:flex-start;height: 100%;">
        <img src="/static/img/03.png" style="width: 60px;height: 60px;">
      </div>
      <!--<div style="font-size: 30px;font-weight: 600;">03</div>-->
    </div>
    <div style="width: 80%;height: 1px;background-color: #cccccc;margin-left: 10%;margin-top: 20px;"></div>
    <div class="top" style="margin-top: 20px;">
      <img src="/static/img/bottom.jpg">
      <div style="position: absolute;z-index: 2;left: 8%;margin-top: 100px;"><button>了解详情</button></div>
      <div style="position: absolute;z-index: 2;left: 8%;margin-top: 190px;"><button>了解详情</button></div>
    </div>
    <div style="width: 80%;height: 1px;background-color: #cccccc;margin-left: 10%;margin-top: 20px;"></div>
  </div>
  <div class="news" style="display: none;">
    <div style="padding:10px 40px;height: 500px;cursor:pointer;" onclick="nav('http://www.sohu.com/a/278592980_649045')">
      <div style="display: inline-block;width: 30%;height: 500px;vertical-align:top;">
        <div style="font-size: 24px;color: #999999">日期</div>
        <div style="font-size: 20px;font-weight: 300;">2018 <span style="color: #999999;font-size: 18px">2019 2020</span></div>
        <div style="margin-top: 20px;font-size: 24px;">标题&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 18px;">2018-06-06</span></div>
        <div style="margin-top: 20px;"><span style="white-space:normal">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要</span></div>
      </div>
      <div class="top" style="display: inline-block;margin-left: 20px;">
        <img src="/static/img/news.jpeg" style="width: 750px;">
      </div>
    </div>
    <div style="padding:10px 40px;height: 500px;cursor:pointer;" onclick="nav('http://www.sohu.com/a/278592980_649045')">
      <div style="display: inline-block;width: 30%;height: 500px;vertical-align:middle;">
        <div style="margin-top: 20px;font-size: 24px;">标题&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 18px;">2018-06-06</span></div>
        <div style="margin-top: 20px;"><span style="white-space:normal">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要</span></div>
      </div>
      <div class="top" style="display: inline-block;margin-left: 20px;">
        <img src="/static/img/news.jpeg" style="width: 750px;">
      </div>
    </div>
    <div style="padding:10px 40px;height: 500px;cursor:pointer;" onclick="nav('http://www.sohu.com/a/278592980_649045')">
      <div style="display: inline-block;width: 30%;height: 500px;vertical-align:middle;">
        <div style="margin-top: 20px;font-size: 24px;">标题&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 18px;">2018-06-06</span></div>
        <div style="margin-top: 20px;"><span style="white-space:normal">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要</span></div>
      </div>
      <div class="top" style="display: inline-block;margin-left: 20px;">
        <img src="/static/img/news.jpeg" style="width: 750px;">
      </div>
    </div>
    <div style="padding:10px 40px;height: 500px;cursor:pointer;" onclick="nav('http://www.sohu.com/a/278592980_649045')">
      <div style="display: inline-block;width: 30%;height: 500px;vertical-align:middle;">
        <div style="margin-top: 20px;font-size: 24px;">标题&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 18px;">2018-06-06</span></div>
        <div style="margin-top: 20px;"><span style="white-space:normal">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要</span></div>
      </div>
      <div class="top" style="display: inline-block;margin-left: 20px;">
        <img src="/static/img/news.jpeg" style="width: 750px;">
      </div>
    </div>
    <div style="padding:10px 40px;height: 500px;cursor:pointer;" onclick="nav('http://www.sohu.com/a/278592980_649045')">
      <div style="display: inline-block;width: 30%;height: 500px;vertical-align:middle;">
        <div style="margin-top: 20px;font-size: 24px;">标题&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 18px;">2018-06-06</span></div>
        <div style="margin-top: 20px;">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要</div>
      </div>
      <div class="top" style="display: inline-block;margin-left: 20px;">
        <img src="/static/img/news.jpeg" style="width: 750px;">
      </div>
    </div>
    <div class="page" id="Page" style="width: 500px;margin: 10px auto;"></div>
  </div>
  <div style="width: 80%;margin-left: 10%">
    <div style="margin: 20px auto;text-align: center"><span style="font-size: 30px;font-weight: 600;">联系我们</span></div>
    <div style="display: inline-block;width: 50%;margin-top: 40px;padding: 20px;">
      <div><span style="font-size: 20px;">合作代理</span></div>
      <div style="padding: 10px 0;color: #cccccc"><span style="font-size: 15px;">电子邮箱：***********</span></div>
      <div style="padding: 10px 0;color: #cccccc"><span style="font-size: 15px;">联系电话：************</span></div>
      <div style="padding: 10px 0;color: #cccccc"><span style="font-size: 15px;">联系地址：************************</span></div>
    </div>
    <div style="display: inline-block;margin-top: 40px;float: right;">
      <div style="display: inline-block;">
        <img src="/static/img/weixin.jpg" style="width: 200px;">
        <div style="text-align: center"><span>(标明原因)</span></div>
      </div>
      <div style="display: inline-block;margin-left: 30px;">
        <img src="/static/img/fuwu.jpg" style="width: 200px;">
        <div style="text-align: center"><span>(服务号)</span></div>
      </div>
    </div>
  </div>
  <div style="width: 100%;height: 1px;background-color: #cccccc;margin-top: 20px;"></div>
  <div style="display:inline-block;margin-left: 39%;margin-top: 10px;">
    <div class="line"></div>
    <div style="display:inline-block;width: 25px;padding: 20px;"></div>
    <div class="line"></div>
    <div style="display:inline-block;"><img src="/static/img/logo.png" style="width: 70px;padding:0 20px;"></div>
    <div class="line"></div>
    <div style="display:inline-block;width: 25px;padding: 20px;"></div>
    <div class="line" style="display:inline-block;"></div>
  </div>
  <div style="text-align: center;width: 100%">
    <span style="font-size: 10px;">2017-2020 鹿口版权所有 粤ICP备17059829号-4</span>
  </div>
</body>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/static/js/MyPage.js"></script>
<script type="text/javascript">
    P.initMathod({
        params: {elemId: '#Page',total:'123'},
        requestFunction: function () {
            // P.config.total = parseInt(Math.random() * 10 + 85);//此处模拟总记录变化

            //TODO ajax异步请求过程,异步获取到的数据总条数赋值给 P.config.total

            //列表渲染自行处理

            console.log(JSON.stringify(P.config));
        }
    });
  function test(that,e) {
    $("body").find(".select").attr("class","none");
    if(e == 0){
      $(".news").css("display","none");
      $(".main").css("display","block");
      $(that).attr("class","select")
    }else{
      $(".news").css("display","block");
      $(".main").css("display","none");
      $(that).attr("class","select")
    }
  }
  function nav(url) {
      window.open(url, '_blank');
  }
</script>
<style>
  .top {
    display:flex;
    align-items:center;
    justify-content:center;
    overflow: hidden;
    padding: 0 40px;
  }
  .top img {
    width: 100%;
    height: 500px;
  }
  .line {
    width: 1px;
    height: 10px;
    background-color: #cccccc;
    display:inline-block;
    margin:15px;
  }
  .select {
    background-color: #318FE1;
    color: white;
    padding: 5px;
    border-radius: 2px;
    cursor:pointer;
  }
  .none {
    color: #cccccc;
    padding: 5px;
    cursor:pointer;
  }
  .page ul{
    padding:0;
    min-width: 450px;
  }
  .page ul::after{
    content: '';
    display: block;
    clear: both;
  }
  .page ul li{
    float: left;
    width:auto;
    min-width:32px;
    height: 30px;
    line-height:30px;
    list-style: none;
  }
  .page a{
    color:#aaa;
    font-family: "微软雅黑";
    padding:0 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 1px solid #ccc;
    border-left: none;
  }
  .page ul li:first-child a{
    border-left: 1px solid #ccc;
  }

  .page ul li a:hover{
    background-color: dodgerblue;
  }
  .page ul li a:hover{
    color: white;
  }
  .page .disabled a:hover{
    background-color: white;
    cursor:not-allowed;
    color: #aaa;
  }
  .page .active a{
    background-color: dodgerblue;
    color: white;
  }
  /*button {*/
    /*background-color: transparent;*/
    /*border: 1px #cccccc solid;*/
  /*}*/
</style>
</html>
