<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/logo.png" type="image/x-icon" sizes="96*96">
    <meta name="keywords" contect="{% if keyword%}{{ keyword }}{% else %}鹿口、鹿口避孕套、鹿口安全套、鹿口润滑液{% endif %}">
    <meta name="description" contect="{% if description%}{{ description }}{% else %}专为女性设计的安全套品牌，主要有鹿口避孕套（安全套）、鹿口润滑液等。{% endif %}">
    <title>{% if title%}{{ title }}{% else %}鹿口,保护女性健康安全的避孕套、润滑液品牌 - 鹿口官网{% endif %}</title>
</head>
<body>
<div class="bg_img" style="background:#191919;opacity:0.8;display:none;position:fixed;width:100%;height:100%;"></div>
<img class="img" src="/static/img/bdbk.png" style="display:none;position:absolute;top:10%;left:0;width:90%;margin-left: 5%;z-index: 3"/>
<div style="position: absolute;z-index: 2;left: 20px;">
  <img src="/static/img/toppeople.png" style="margin-top: -130%;margin-left: 75%;">
  <div style="width: 2px;height: 300px;background-color:white;position: absolute;margin-left: 120%;margin-top: 64%"></div>
</div>
<div style="position: absolute;z-index: 2;right: 20px;">
  <img src="/static/img/wenzi.png" style="width: 72%;margin-top: 20%;">
</div>
<div class="top" style="border-radius: 0 0 50% 50% / 0 0 50px 50px;">
  <img src="/static/img/DSC06650.jpg">
</div>
<div style="justify-content: center;align-items: center;display: flex;margin-top: 10px;">
  <div class="line"></div>
  <div style="display:inline-block;width: 25px;padding: 20px;"><div class="select" onclick="test(this,0)"><span>首页</span></div></div>
  <div class="line"></div>
  <div style="display:inline-block;"><img src="/static/img/logo.png" style="width: 70px;padding:0 20px;"></div>
  <div class="line"></div>
  <div style="display:inline-block;width: 25px;padding: 20px;"><div class="none" onclick="test(this,1)"><span>新闻</span></div></div>
  <div class="line" style="display:inline-block;"></div>
</div>
<div class="h5" style="display: block;">
  <div class="top" style="padding: 0;">
    <div style="font-size: 30px;position: absolute;z-index: 2;text-align: center;margin-top: -15%;font-family: PingFangSC-Regular, sans-serif;">
      <div>产品介绍</div>
      <div style="margin-top: 20px;font-size: 35px;font-weight: 400;">私处抑味·抑菌·保护</div>
    </div>
    <img src="/static/img/1.JPG" style="width: 95%;margin: 20px 0;border-radius: 50% 50% 0 0/ 45px 45px 0 0;height: 500px;">
  </div>
  <div class="mii-page">
    <div class="mii-container">
      <img src="/static/img/001.png" style="height: 450px;width: 100%">
      <div style="padding: 10px 20px;">
        <div style="font-size: 32px;font-weight: 800">鹿口润滑液·抑味抑菌保护</div>
        <div style="margin-top: 10px;font-size: 28px;font-weight: 600;color: #333333">真正安心，<span style="font-size: 24px;color: #666666;font-weight: 500">消字号备案 *聚可安糖私护抑菌液，获得卫计委备案</span></div>
        <div style="margin-top: 10px;font-size: 28px;font-weight: 600;color: #333333">真正照顾，<span style="font-size: 24px;color: #666666;font-weight: 500">99.9%抑菌率 *依据CMA级实验检测报告</span></div>
        <div style="margin-top: 10px;font-size: 28px;font-weight: 600;color: #333333">真正保护，<span style="font-size: 24px;color: #666666;font-weight: 500">水溶性无残留 *100%可被人体自然吸收，不同于硅油残留</span></div>
        <div style="margin-top: 15px;"><button style="font-size: 26px;float: right;margin-bottom: 15px;" onclick="showImg()">关于我们</button></div>
      </div>
    </div>
  </div>
  <div class="mii-page" style="margin-top: 20px;">
    <div class="mii-container">
      <img src="/static/img/002.JPG" style="height: 450px;width: 100%">
      <div style="padding: 10px 20px;">
        <div style="font-size: 32px;font-weight: 800">鹿口安全套·极薄系列</div>
        <div style="margin-top: 10px;font-size: 28px;font-weight: 600;color: #666666">薄过"003"</div>
        <div style="margin-top: 10px;font-size: 28px;font-weight: 600;color: #666666">快感与健康并存</div>
        <div style="margin-top: 10px;font-size: 28px;font-weight: 500;color: #333333"><span style="font-size: 24px;color: #666666;font-weight: 500">水溶性无残留 *100%可被人体自然吸收，不同于硅油残留</span></div>
      </div>
    </div>
  </div>
  <div class="mii-page" style="margin-top: 20px;">
    <div class="mii-container">
      <img src="/static/img/003.JPG" style="height: 450px;width: 100%">
      <div style="padding: 10px 20px;">
        <div style="font-size: 32px;font-weight: 800">鹿口安全套·倍润滑系列</div>
        <div style="margin-top: 10px;font-size: 28px;font-weight: 600;color: #666666">1200mg大量润滑，比平均多50%润滑液</div>
        <div style="margin-top: 10px;font-size: 28px;font-weight: 500;color: #999999">让2/3体液偏少的亚洲女性，不再忍一忍</div>
        <div style="margin-top: 10px;font-size: 28px;font-weight: 500;color: #999999">*鹿口安全套皆具有抑味抑菌保护功能的润滑液</span></div>
      </div>
    </div>
  </div>
  <div class="top" style="margin-top: 20px;padding: 0;">
    <img src="/static/img/bottom.jpg" style="width: 95%;">
  </div>
</div>
<div class="main" style="display: none;">
  <div style="width: 80%;height: 1px;background-color: #cccccc;margin-left: 10%"></div>
  <div class="top">
    <div style="position: absolute;z-index: 2;text-align: center;margin-top: -10%;font-family: PingFangSC-Regular, sans-serif;">
      <div>产品介绍</div>
      <div style="margin-top: 20px;font-size: 25px;">私处抑味·抑菌·保护</div>
    </div>
    <img src="/static/img/1.JPG" style="width: 85%;margin: 20px 0;">
  </div>
  <div style="display:flex;align-items:center;overflow: hidden;padding: 0 10%;margin-top: 20px;height: 360px;">
    <img src="/static/img/01.jpg" style="width: 400px;height: 360px;">
    <div style="margin-left: 40px;flex-direction:column;justify-content: space-between;width: 100%;">
      <div style="font-size: 35px;font-weight: 600;">鹿口润滑液·</div>
      <div style="font-size: 35px;margin-top: 20px;font-weight: 600;">抑味抑菌保护</div>
      <div style="margin-top: 20px;font-size: 20px;font-weight: 500">真正安心，<span style="font-size: 15px;color: #666666;font-weight: 400">消字号备案</span></div>
      <div style="font-size: 10px;margin-top: 10px;color: #999999">*聚可安糖私护抑菌液，获得卫计委备案</div>
      <div style="margin-top: 10px;font-size: 20px;font-weight: 500">真正照顾，<span style="font-size: 15px;color: #666666;font-weight: 400">99.9%抑菌率</span></div>
      <div style="font-size: 10px;margin-top: 10px;color: #999999">*依据CMA级实验检测报告</div>
      <div style="margin-top: 10px;font-size: 20px;font-weight: 500">真正保护，<span style="font-size: 15px;color: #666666;font-weight: 400">水溶性无残留</span></div>
      <div style="font-size: 10px;margin-top: 10px;color: #999999">*100%可被人体自然吸收，不同于硅油残留</div>
      <div style="margin-top: 1%;"><button onclick="showImg()">关于我们</button></div>
    </div>
    <div style="flex-direction: column;justify-content:flex-start;height: 100%;">
      <img src="/static/img/01.png" style="width: 60px;height: 60px;">
    </div>
    <!--<div style="font-size: 30px;font-weight: 600;">01</div>-->
  </div>
  <div style="display:flex;align-items:center;overflow: hidden;padding: 0 10%;margin-top: 20px;height: 360px;justify-content:space-between;">
    <div style="margin-top: auto;">
      <img src="/static/img/02.png" style="width: 60px;height: 60px;">
    </div>
    <div style="text-align: right;display:flex;flex-direction:column;justify-content: space-between;width: 60%;height: 360px;">
      <div style="font-size: 35px;font-weight: 600;">鹿口安全套·极薄系列</div>
      <div style="margin-top: 10px;font-size: 20px;color: #666666">薄过"003"</div>
      <div style="font-size: 20px;color: #666666">快感与健康并存</div>
      <div style="font-size: 10px;margin-top: 20px;color: #999999">*鹿口安全套皆具有抑味抑菌保护功能的润滑液</div>
      <div style="margin-top: 27%;"></div>
    </div>
    <img src="/static/img/02.jpg" style="width: 400px;height: 360px;margin-left: 15px;">
    <!--<div style="font-size: 30px;font-weight: 600;">02</div>-->
  </div>
  <div style="display:flex;align-items:center;overflow: hidden;padding: 0 10%;margin-top: 20px;height: 360px">
    <img src="/static/img/03.jpg" style="width: 400px;height: 360px;">
    <div style="margin-left: 40px;display:flex;flex-direction:column;justify-content: space-between;width: 100%;height: 360px;">
      <div style="font-size: 35px;font-weight: 600;">鹿口安全套·</div>
      <div style="font-size: 35px;margin-top: 20px;font-weight: 600;">倍润滑系列</div>
      <div style="margin-top: 20px;font-size: 20px;color: #666666">1200mg大量润滑，比平均多50%润滑液</div>
      <div style="font-size: 10px;margin-top: 10px;color: #999999">*让2/3体液偏少的亚洲女性，不再忍一忍</div>
      <div style="font-size: 10px;margin-top: 10px;color: #999999">*鹿口安全套皆具有抑味抑菌保护功能的润滑液</div>
      <div style="margin-top: 13%;"></div>
    </div>
    <div style="flex-direction: column;justify-content:flex-start;height: 100%;">
      <img src="/static/img/03.png" style="width: 60px;height: 60px;">
    </div>
    <!--<div style="font-size: 30px;font-weight: 600;">03</div>-->
  </div>
  <div style="width: 80%;height: 1px;background-color: #cccccc;margin-left: 10%;margin-top: 20px;"></div>
  <div class="top" style="margin-top: 20px;">
    <img src="/static/img/bottom.jpg">
  </div>
  <div style="width: 80%;height: 1px;background-color: #cccccc;margin-left: 10%;margin-top: 20px;"></div>
</div>
<div class="news" style="display: none;">
  <div style="width: 80%;height: 1px;background-color: #cccccc;margin-left: 10%"></div>
  <div class="cardData" style="position: absolute;left: 4%;">
    <div style="font-size: 24px;color: #999999">日期</div>
    <div class="dataTime"><span class="dataSe" onclick="selectData(this,2018)">2018&nbsp;&nbsp;</span><span class="dataNo" onclick="selectData(this,2019)">2019&nbsp;&nbsp;</span><span class="dataNo" onclick="selectData(this,2020)">2020</span></div>
  </div>
  <div class="newsCard" onclick="nav('http://www.sohu.com/a/278592980_649045')">
    <div class="cardText">
      <div style="margin-top: 20px;font-size: 24px;">标题&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 18px;color: #666666;">2018-06-06</span></div>
      <div style="margin-top: 20px;"><span style="white-space:normal;color: #999999">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要</span></div>
    </div>
    <div class="top" style="margin-left: 20px;width: 60%;">
      <img src="/static/img/news.jpeg" style="width: 100%;height: auto">
    </div>
  </div>
  <div class="page" id="Page" style="justify-content: center;align-items: center;display: flex;"></div>
</div>
<div style="width: 80%;height: 1px;background-color: #cccccc;margin-left: 10%"></div>
<div style="width: 80%;margin-left: 10%">
  <div style="margin: 20px auto;text-align: center"><span style="font-size: 30px;font-weight: 600;">联系我们</span></div>
  <div style="display: inline-block;width: 40%;margin-top: 40px;padding: 20px;">
    <div><span style="font-size: 20px;">合作代理</span></div>
    <div style="padding: 10px 0;color: #666666"><span style="font-size: 15px;white-space:normal">电子邮箱：cj@aqrkk.com</span></div>
    <div style="padding: 10px 0;color: #666666"><span style="font-size: 15px;white-space:normal">联系电话：0755-23774793</span></div>
    <div style="padding: 10px 0;color: #666666"><span style="font-size: 15px;white-space:normal">联系地址：广东省深圳市宝安区西乡街道宝源路1065号 F518时尚创意园F1栋105-107</span></div>
  </div>
  <div class="top" style="display: inline-block;margin-top: 40px;float: right;width: 44%">
    <div style="display: inline-block;width: 40%;">
      <img src="/static/img/weixin.jpg" style="width: 100%;height: auto;">
      <div style="text-align: center"><span>(请注明合作来意)</span></div>
    </div>
    <div style="display: inline-block;margin-left: 30px;width: 40%;">
      <img src="/static/img/fuwu.jpg" style="width: 100%;height: auto">
      <div style="text-align: center"><span>(服务号)</span></div>
    </div>
  </div>
</div>
<div style="width: 100%;height: 1px;background-color: #cccccc;margin-top: 56px;"></div>
<div style="justify-content: center;align-items: center;display: flex;margin-top: 10px;">
  <div class="line"></div>
  <div style="display:inline-block;width: 25px;padding: 20px;"></div>
  <div class="line"></div>
  <div style="display:inline-block;"><img src="/static/img/logo.png" style="width: 70px;padding:0 20px;"></div>
  <div class="line"></div>
  <div style="display:inline-block;width: 25px;padding: 20px;"></div>
  <div class="line" style="display:inline-block;"></div>
</div>
<div style="text-align: center;width: 100%;margin-bottom: 20px;">
  <span onclick="nav('http://www.miitbeian.gov.cn')" style="font-size: 10px;">2017-2020 鹿口版权所有 粤ICP备17059829号-1</span>
</div>
</body>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/static/js/MyPage.js"></script>
<script type="text/javascript">
  var time = '2018';
  var pageSize = 5;
  var pageIndex = 1;
  function selectData(that,data) {
      $("body").find(".dataSe").attr("class","dataNo");
      this.time = data;
      if(data == 2018){
          $(that).attr("class","dataSe")
      }else if(data == 2019){
          $(that).attr("class","dataSe")
      }else{
          $(that).attr("class","dataSe")
      }
      $.ajax({
              url: '{% url 'news' %}}',
              data: {'pageSize':pageSize, 'pageIndex':pageIndex, 'year':time},
              type: "POST",
              dataType: "json",
              success: function(res) {
                  // data = jQuery.parseJSON(data);  //dataType指明了返回数据为json类型，故不需要再反序列化
                  console.log(res)
                  $(".newsCard").remove();
                  for(var i = 0;i < res.length;i++){
                      var html = '<div class="newsCard" onclick="nav(\''+res[i].url+ '\')">\n' +
                          '      <div class="cardText">\n' +
                          '        <div style="margin-top: 20px;font-size: 24px;">'+res[i].title+'&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 18px;">'+res[i].time+'</span></div>\n' +
                          '        <div style="margin-top: 20px;"><span style="white-space:normal">'+res[i].digest+'</span></div>\n' +
                          '      </div>\n' +
                          '      <div class="top" style="margin-left: 20px;width: 60%;">\n' +
                          '        <img src="../media/'+res[i].img+'" style="width: 100%;height: auto">\n' +
                          '      </div>\n' +
                          '    </div>'
                      $(".cardData").after(html)
                  }
              }
          })

  }

  P.initMathod({
      params: {elemId: '#Page',total:{{ count }},pageIndex:'1', pageNum:'6',pageSize:'5'},
      requestFunction: function () {
          //P.config.total = parseInt(Math.random() * 10 + 85);//此处模拟总记录变化
          pageSize = P.config.pageSize;
          pageIndex = P.config.pageIndex;
          //TODO ajax异步请求过程,异步获取到的数据总条数赋值给 P.config.total

          //列表渲染自行处理
          $.ajax({
              url: '{% url 'news' %}}',
              data: {'pageSize':P.config.pageSize, 'pageIndex':P.config.pageIndex, 'year':time},
              type: "POST",
              dataType: "json",
              success: function(res) {
                  // data = jQuery.parseJSON(data);  //dataType指明了返回数据为json类型，故不需要再反序列化
                  console.log(res)
                  $(".newsCard").remove();
                  for(var i = 0;i < res.length;i++){
                      var html = '<div class="newsCard" onclick="nav(\''+res[i].url+ '\')">\n' +
                          '      <div class="cardText">\n' +
                          '        <div style="margin-top: 20px;font-size: 24px;">'+res[i].title+'&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 18px;">'+res[i].time+'</span></div>\n' +
                          '        <div style="margin-top: 20px;"><span style="white-space:normal">'+res[i].digest+'</span></div>\n' +
                          '      </div>\n' +
                          '      <div class="top" style="margin-left: 20px;width: 60%;">\n' +
                          '        <img src="../media/'+res[i].img+'" style="width: 100%;height: auto">\n' +
                          '      </div>\n' +
                          '    </div>'
                      $(".cardData").after(html)
                  }
              }
          })
      }
  });
  $(document).ready(mobile());
  function showImg(){
      $('.bg_img').show();
      $('.img').show();
  }
  $('.bg_img').click(function(){
      $('.bg_img').hide();
      $('.img').hide();
  });
  function mobile() {
      try{
          document.createEvent("TouchEvent");
          $(".main").css("display","none");
          $(".h5").css("display","block");
      }
      catch(e){
          $(".main").css("display","block");
          $(".h5").css("display","none");
      }
  }
  function test(that,e) {
    $("body").find(".select").attr("class","none");
    if(e == 0){
      $(".news").css("display","none");
      $(".main").css("display","block");
      $(that).attr("class","select")
    }else{
      $(".news").css("display","block");
      $(".main").css("display","none");
      $(that).attr("class","select")
    }
  }
  function nav(url) {
      window.open(url, '_blank');
  }
</script>
<style>
  * {
    margin: 0;
    padding: 0;
  }
  .mii-page {
    width: 95%;
    max-width: 100%;
    margin: 20px auto;
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 18px 8px -4px rgba(0, 0, 0, .3);
  }
  .mii-container {
    position: relative;
    overflow: auto;
    width: 100%;
    box-shadow: 0 8px 3px -3px rgba(0, 0, 0, .3);
    background-color: white;
    border-radius: 20px;
    height: 100%;
  }
  .mii-container img {
    border-radius: 20px;
    box-shadow: 0 8px 3px -3px rgba(0, 0, 0, .3);
  }
  @font-face {
    font-family: "Heavy";
    src: url('../../lukou/static/font/PingFang Heavy.otf');
  }
  .dataTime {
    font-family: Heavy;
  }
  .cardText {
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction:column;
    justify-content: center;
  }
  .newsCard {
    padding:10px 40px;
    height: 500px;
    cursor:pointer;
    display: flex;
    justify-content: space-between;
  }
  .dataSe {
    font-size: 20px;
    font-weight: 400;
  }
  .dataNo {
    font-size: 16px;
  }
  .top {
    display:flex;
    align-items:center;
    justify-content:center;
    overflow: hidden;
    padding: 0 40px;
  }
  .top img {
    width: 100%;
    height: 500px;
  }
  .line {
    width: 1px;
    height: 10px;
    background-color: #cccccc;
    display:inline-block;
    margin:15px;
  }
  .select {
    background-color: #318FE1;
    color: white;
    padding: 5px;
    border-radius: 2px;
    cursor:pointer;
  }
  .none {
    color: #999999;
    padding: 5px;
    cursor:pointer;
  }
  .page ul{
    padding:0;
    min-width: 450px;
  }
  .page ul::after{
    content: '';
    display: block;
    clear: both;
  }
  .page ul li{
    float: left;
    width:auto;
    min-width:32px;
    height: 30px;
    line-height:30px;
    list-style: none;
  }
  .page a{
    color:#aaa;
    font-family: "微软雅黑";
    padding:0 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 1px solid #ccc;
    border-left: none;
  }
  .page ul li:first-child a{
    border-left: 1px solid #ccc;
  }

  .page ul li a:hover{
    background-color: dodgerblue;
  }
  .page ul li a:hover{
    color: white;
  }
  .page .disabled a:hover{
    background-color: white;
    cursor:not-allowed;
    color: #aaa;
  }
  .page .active a{
    background-color: dodgerblue;
    color: white;
  }
  button {
    background-color: transparent;
    border: 1px #cccccc solid;
    padding: 5px 15px;
    /*border: 1px solid transparent; */
    outline: none;
  }
</style>
</html>
