{% extends 'base.html' %}
{% block content %}
<div style="margin: 0 auto;">
  <div class="people" style="position: absolute;z-index: 2;margin-left: 15px;">
    <img src="/static/img/toppeople.png" style="margin-top: -130%;margin-left: 75%;">
    <div style="width: 2px;height: 300px;background-color:white;position: absolute;margin-left: 120%;margin-top: 64%">
    </div>
  </div>
  <div class="wenzi" style="position: absolute;z-index: 2;left: 990px;">
    <img src="/static/img/wenzi.png" style="transform:scale(0.7)">
  </div>
  <div class="top" style="border-radius: 0 0 50% 50% / 0 0 50px 50px;">
    <img src="/static/img/DSC06650.jpg">
  </div>
</div>

<div style="margin:10px auto;font-size: 26px;display: table;">
  <div class="line"></div>
  <div style="display:inline-block;width: 35px;padding: 40px;">
    <div class="none" onclick="nav('/')"><span>首页</span></div>
  </div>
  <div class="line"></div>
  <div style="display:inline-block;"><img src="/static/img/logo.png" style="width: 70px;padding:0 80px;"></div>
  <div class="line"></div>
  <div style="display:inline-block;width: 35px;padding: 40px;">
    <div class="select"><span>新闻</span></div>
  </div>
  <div class="line" style="display:inline-block;"></div>
</div>

<div class="news">
  <div style="width: 80%;height: 1px;background-color: #cccccc;margin-left: 10%"></div>
  <div class="cardData" style="position: absolute;left: 4%;">
    <div style="font-size: 24px;color: #999999">日期</div>
    <div class="dataTime">
      {% if request.GET.year == '2018' %}
      <span class="dataSe" onclick="selectData(this,2018)">2018&nbsp;&nbsp;</span>
      <span class="dataNo" onclick="selectData(this,2019)">2019&nbsp;&nbsp;</span>
      <span class="dataNo" onclick="selectData(this,2020)">2020</span>
      {% elif request.GET.year == '2020'%}
      <span class="dataNo" onclick="selectData(this,2018)">2018&nbsp;&nbsp;</span>
      <span class="dataNo" onclick="selectData(this,2019)">2019&nbsp;&nbsp;</span>
      <span class="dataSe" onclick="selectData(this,2020)">2020</span>
      {% else %}
      <span class="dataNo" onclick="selectData(this,2018)">2018&nbsp;&nbsp;</span>
      <span class="dataSe" onclick="selectData(this,2019)">2019&nbsp;&nbsp;</span>
      <span class="dataNo" onclick="selectData(this,2020)">2020</span>
      {% endif %}
    </div>
  </div>

  {% for i in res %}
  <div class="newsCard" onclick="nav('/new_markdown?id={{i.id}}')">
    <div class="cardText">
      <div style="margin-top: 20px;font-size: 24px;">
        <span style="font-size: 18px;">{{i.time}}</span>
      </div>
      <div style="margin-top: 20px;">
        <span style="white-space:normal">{{i.digest}}</span>
      </div>
    </div>
    <div class="top">
      <img src="../media/{{i.img}}" style="width: 100%;height: auto" />
    </div>
  </div>
  {% endfor %}

  {#  <div class="num" style="display: block;">#}
  {#    <div class="page" id="Page" style="justify-content: center;align-items: center;display: flex;"></div>#}
  {#  </div>#}
  {#  <div class="bottom_line" style="width: 80%;height: 1px;background-color: #cccccc;margin-left: 10%;margin-top: 20px;"></div>#}

  <div class="paginator pagination" style=" text-align: center;">
    <ul>
      <!— 分页功能前端-->
        <li>
          <a href="{% url 'news' %}?page=1&year={{request.GET.year}}"
            aria-label="Previous">
            <span aria-hidden="true">首页</span>
          </a>
        </li>
        {% if subject_list.has_previous %}
        <li>
          <a href="{% url 'news' %}?page={{ subject_list.previous_page_number }}&year={{request.GET.year}}"
            aria-label="Previous">
            <span aria-hidden="true">上一页</span>
          </a>
        </li>
        {% endif %}
        <!— 分页功能显示页码的中间部分代码-->
          {% for page_num in subject_list.paginator.page_range %}
          {% if page_num == subject_list.number %}
          <li class="active"><span>{{ page_num }}</span></li>
          {% else %}
          <li>
            <a href="{% url 'news' %}?page={{ page_num }}&year={{request.GET.year}}">{{ page_num }}
            </a>
          </li>
          {% endif %}
          {% endfor %}
          <!— 分页功能末端-->
          {% if  subject_list.has_next %}
          <li>
            <a href="{% url 'news' %}?page={{ subject_list.next_page_number }}&year={{request.GET.year}}"
              aria-label="last">
              <span aria-hidden="true">下一页</span>
            </a>
          </li>
          {% endif %}
          <li>
          <a href="{% url 'news' %}?page=-1&year={{request.GET.year}}"
            aria-label="Previous">
            <span aria-hidden="true">末页</span>
          </a>
        </li>
    </ul>
  </div>
  {% endblock %}


  {% block js_lukou %}
  <script>
    function selectData(that, data) {
      $("body").find(".dataSe").attr("class", "dataNo");
      $(that).attr("class", "dataSe")
      window.location.href = "/news/?year=" + data
    }
  </script>
  {% endblock %}

  {% block css_lukou%}
  <style>
    .dataTime {
      font-family: Heavy;
    }

    .cardText {
      width: 30%;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .newsCard {
      padding: 10px 40px;
      height: 500px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
    }

    .dataSe {
      font-size: 20px;
      font-weight: 400;
    }

    .dataNo {
      font-size: 16px;
    }
  </style>
  {% endblock%}